html {
    color: #ffff;
    font-size: 2em;
    line-height: 2;
    font-family: notcouriersans;   
}
  
@font-face {
   	font-family:notcouriersans;
    src: url("../fonts/notcouriersans/notcouriersans.ttf");   
}

.badge {
  position: relative;
  width: 400px;
  border-radius: 50%;
  transform: rotate(-50deg);
}

h1 span {
  font: 20px notcouriersans, MonoSpace;
  height: 450px;
  position: absolute;
  width: 10px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

h2 {
	font-size: 20px;
	float: right;
	padding-right: 30px;
	margin-top: 800px;
}

img {
	float: right;
	margin-top: 350px;
	margin-right: 100px;
}

.char1 { transform: rotate(3deg); }
.char2 { transform: rotate(6deg); }
.char3 { transform: rotate(9deg); }
.char4 { transform: rotate(12deg); }
.char5 { transform: rotate(15deg); }
.char6 { transform: rotate(18deg); }
.char7 { transform: rotate(21deg); }
.char8 { transform: rotate(24deg); }
.char9 { transform: rotate(27deg); }
.char10 { transform: rotate(30deg); }
.char11 { transform: rotate(33deg); }
.char12 { transform: rotate(36deg); }
.char13 { transform: rotate(39deg); }
.char14 { transform: rotate(42deg); }
.char15 { transform: rotate(45deg); }
.char16 { transform: rotate(48deg); }
.char17 { transform: rotate(51deg); }
.char18 { transform: rotate(54deg); }
.char19 { transform: rotate(57deg); }
.char20 { transform: rotate(60deg); }
.char21 { transform: rotate(63deg); }
.char22 { transform: rotate(66deg); }
.char23 { transform: rotate(69deg); }
.char24 { transform: rotate(72deg); }
.char25 { transform: rotate(75deg); }
.char26 { transform: rotate(78deg); }
.char27 { transform: rotate(81deg); }
.char28 { transform: rotate(84deg); }
.char29 { transform: rotate(87deg); }
.char30 { transform: rotate(90deg); }
.char31 { transform: rotate(93deg); }
.char32 { transform: rotate(96deg); }
.char33 { transform: rotate(99deg); }
.char34 { transform: rotate(102deg); }
.char35 { transform: rotate(105deg); }
.char36 { transform: rotate(108deg); }
.char37 { transform: rotate(111deg); }
.char38 { transform: rotate(114deg); }
.char39 { transform: rotate(117deg); }
.char40 { transform: rotate(120deg); }
.char41 { transform: rotate(123deg); }
.char42 { transform: rotate(126deg); }
.char43 { transform: rotate(129deg); }
.char44 { transform: rotate(132deg); }
.char45 { transform: rotate(135deg); }
.char46 { transform: rotate(138deg); }
.char47 { transform: rotate(141deg); }
.char48 { transform: rotate(144deg); }
.char49 { transform: rotate(147deg); }
.char50 { transform: rotate(150deg); }
.char51 { transform: rotate(153deg); }
.char52 { transform: rotate(156deg); }
.char53 { transform: rotate(159deg); }
.char54 { transform: rotate(162deg); }
.char55 { transform: rotate(165deg); }
.char56 { transform: rotate(168deg); }
.char57 { transform: rotate(171deg); }
.char58 { transform: rotate(174deg); }
.char59 { transform: rotate(177deg); }
.char60 { transform: rotate(180deg); }
.char61 { transform: rotate(183deg); }
.char62 { transform: rotate(186deg); }
.char63 { transform: rotate(189deg); }
.char64 { transform: rotate(192deg); }
.char65 { transform: rotate(195deg); }
.char66 { transform: rotate(198deg); }
.char67 { transform: rotate(201deg); }
.char68 { transform: rotate(204deg); }
.char69 { transform: rotate(207deg); }
.char70 { transform: rotate(210deg); }
.char71 { transform: rotate(213deg); }
.char72 { transform: rotate(216deg); }


/* and so on */
